---
import ClienteSelector from '../components/ClienteSelector.astro';
import BaseLayout from '../layouts/BaseLayout.astro';

---
<BaseLayout>
    <h1>Buscador de Clientes</h1>
    <ClienteSelector />
    <a href="/carrito">Carrito</a>
</BaseLayout>