---
import '../styles/global.css';
import ProductosSelector from '../components/ProductosSelector.astro';
---
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>
<body>
    <slot/>  
</body>
</html>
